workflows/email-harvester-workflow.json
{
  "name": "OSINT Email Harvester",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        32,
        -160
      ],
      "id": "85eecfb7-e01c-4691-8a7b-34df2fe5ee69",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "binaryPropertyName": "=data",
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2512,
        -384
      ],
      "id": "238342e3-3467-42a0-aea2-9d69b00afb33",
      "name": "Export to CSV"
    },
    {
      "parameters": {
        "jsCode": "// Reference the node that actually contains the data array, \n// not the CSV node which only contains the file.\nconst items = $node[\"Enrich Email Data\"].json; \n// Note: Depending on your n8n version, use: $(‘Enrich Email Data’).all()\n\nconst domainCounts = {};\nlet totalEmails = 0;\n\n// items might be a single object if there's only one, so we handle both\nconst dataArray = Array.isArray(items) ? items : [items];\n\ndataArray.forEach(item => {\n  const d = item.domain || (item.email ? item.email.split('@')[1] : null);\n  if (d) {\n    domainCounts[d] = (domainCounts[d] || 0) + 1;\n    totalEmails++;\n  }\n});\n\nreturn [{\n  json: {\n    totalEmails: totalEmails,\n    uniqueDomains: Object.keys(domainCounts).length,\n    topDomains: domainCounts,\n    timestamp: new Date().toISOString()\n  },\n  // Pull the binary from the CSV node specifically\n  binary: $node[\"Export to CSV\"]?.binary || {}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        -384
      ],
      "id": "240e46fd-8128-48c6-be47-d8ff4230f083",
      "name": "Generate Summary"
    },
    {
      "parameters": {
        "sendTo": "\"sendTo\": \"example@domain.com\"",
        "subject": "=OSINT Email Harvesting - {{ $json.totalEmails }} Emails Found",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden;\">\n  <div style=\"background-color: #1a73e8; color: white; padding: 20px; text-align: center;\">\n    <h2 style=\"margin: 0;\">OSINT Harvesting Report</h2>\n  </div>\n  \n  <div style=\"padding: 20px; line-height: 1.6; color: #333;\">\n    <p>The automated OSINT Email Harvester has completed its scan. Below is a summary of the findings:</p>\n    \n    <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\">\n      <tr>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee;\"><strong>Total Emails Found:</strong></td>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee; text-align: right;\">{{ $json.totalEmails }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee;\"><strong>Unique Domains:</strong></td>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee; text-align: right;\">{{ $json.uniqueDomains }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee;\"><strong>Scan Date:</strong></td>\n        <td style=\"padding: 10px; border-bottom: 1px solid #eee; text-align: right;\">{{ $json.timestamp }}</td>\n      </tr>\n    </table>\n    \n    <p style=\"background-color: #f8f9fa; padding: 15px; border-radius: 4px; border-left: 4px solid #1a73e8;\">\n      <strong>Note:</strong> A comprehensive CSV file containing all validated email addresses and their sources is attached to this email.\n    </p>\n  </div>\n  \n  <div style=\"background-color: #f1f3f4; padding: 15px; text-align: center; font-size: 12px; color: #70757a;\">\n    Generated by n8n OSINT Email Harvester Workflow\n  </div>\n</div>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1808,
        -16
      ],
      "id": "1e0548c8-7775-4d01-be75-40a97f3361da",
      "name": "Send a message",
      "webhookId": "865b679f-97e3-41c6-9afd-69168d0ea923",
      "credentials": {
        "gmailOAuth2": {
          "id": "4rgf3onoG15TrvnQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Define target URLs to scan for emails\nconst targetUrls = [\n  'https://httpbin.org/',\n  'https://www.w3.org/People.html',\n  'https://www.ietf.org/contact/',\n  'https://www.gnu.org/contact/',\n  'https://www.apache.org/foundation/contact.html'\n];\n\nreturn targetUrls.map(url => ({\n  json: {\n    url: url,\n    timestamp: new Date().toISOString()\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -160
      ],
      "id": "e57940ac-0a41-4664-b7a3-450d26db93b5",
      "name": "Load Target URLs"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "={{ $json.ua }}"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1152,
        -160
      ],
      "id": "5d90c7dc-6348-4124-8c35-aa633350421a",
      "name": "Fetch Web Page",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data || $json.body || \"\";\n\n// FIX: Look for URL in current input OR reference the original 'Load Target URLs' node\nconst sourceUrl = $json.url || $node[\"Load Target URLs\"].json[\"url\"] || \"unknown\";\n\n// Normalize common obfuscations [cite: 23]\nlet normalized = html\n  .replace(/\\(at\\)/gi, \"@\")\n  .replace(/\\[at\\]/gi, \"@\")\n  .replace(/\\sat\\s/gi, \"@\")\n  .replace(/\\(dot\\)/gi, \".\")\n  .replace(/\\[dot\\]/gi, \".\")\n  .replace(/\\sdot\\s/gi, \".\");\n\n// Extract emails [cite: 10]\nconst emailRegex = /\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}\\b/g;\n\nconst found = normalized.match(emailRegex) || [];\n\n// Deduplicate early (Case-insensitive) [cite: 4, 17]\nconst unique = [...new Set(found.map(e => e.toLowerCase()))];\n\nreturn unique.map(email => ({\n  json: {\n    email,\n    source: sourceUrl, // Now correctly tracked \n    foundAt: new Date().toISOString()\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        -384
      ],
      "id": "653effed-8ba0-4b5a-a9da-75e62523f3e4",
      "name": "Extract Email Addresses"
    },
    {
      "parameters": {
        "jsCode": "// Validate email format and structure\nconst items = $input.all();\n\nreturn items.filter(item => {\n  const email = item.json.email;\n  \n  // Skip if no email field\n  if (!email) return false;\n  \n  // Basic validation checks\n  const parts = email.split('@');\n  \n  // Must have exactly one @\n  if (parts.length !== 2) return false;\n  \n  const localPart = parts[0];\n  const domainPart = parts[1];\n  \n  // Local part must not be empty\n  if (!localPart || localPart.length === 0) return false;\n  \n  // Domain must not be empty\n  if (!domainPart || domainPart.length === 0) return false;\n  \n  // Domain must have at least one dot\n  if (!domainPart.includes('.')) return false;\n  \n  // TLD must be at least 2 characters\n  const domainParts = domainPart.split('.');\n  const tld = domainParts[domainParts.length - 1];\n  if (tld.length < 2) return false;\n  \n  // Check for invalid characters\n  const invalidChars = /[<>(),;:\\\\\"[\\]\\\\s]/;\n  if (invalidChars.test(email)) return false;\n  \n  // Valid email\n  return true;\n}).map(item => ({\n  json: {\n    ...item.json,\n    validated: true,\n    validationDate: new Date().toISOString()\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        -384
      ],
      "id": "c548f390-783c-482a-b6de-fc05ff7d9719",
      "name": "Validate Email Format"
    },
    {
      "parameters": {
        "jsCode": "// Enrich with domain info\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    domain: item.json.email.split('@')[1] || 'unknown'\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        -384
      ],
      "id": "baebb3e6-25f9-4a96-b9fd-b8427cf64c87",
      "name": "Enrich Email Data"
    },
    {
      "parameters": {
        "jsCode": "// Remove duplicate emails (Case-Insensitive)\nconst items = $input.all();\nconst seen = new Set();\nconst unique = [];\n\nitems.forEach(item => {\n  const email = item.json.email;\n  \n  if (email) {\n    // Normalize to lowercase for comparison\n    const normalizedEmail = email.toLowerCase();\n    \n    if (!seen.has(normalizedEmail)) {\n      seen.add(normalizedEmail);\n      unique.push(item);\n    }\n  }\n});\n\nreturn unique;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -384
      ],
      "id": "72dc9cde-a74a-426a-8f55-8dcce840fd12",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "72f81044-d9b4-4e45-bf60-d30002f92497",
      "name": "Wait / Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        704,
        -160
      ],
      "webhookId": "a2f1a16d-39e6-4063-9e71-208987408b0e"
    },
    {
      "parameters": {
        "jsCode": "const userAgents = [\n 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)',\n 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)',\n 'Mozilla/5.0 (X11; Linux x86_64)'\n];\n\nconst randomUA = userAgents[Math.floor(Math.random() * userAgents.length)];\n\n// We remove the proxy requirement for now to ensure execution works\nreturn [{ \n  json: { \n    ...$json, \n    ua: randomUA \n  } \n}];"
      },
      "id": "8b9b2e5b-0f8f-404b-a75f-3b68b4f3af12",
      "name": "Set Headers + Random Proxy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    // FIX: Reach back to the starting node to get the URL\n    url: $node[\"Load Target URLs\"].json[\"url\"] || \"unknown\",\n    error: $json.error?.message || $json.message || \"Request Failed\",\n    timestamp: new Date().toISOString(),\n    status: \"FAILED\"\n  }\n}];"
      },
      "id": "985270e9-6e1d-4303-b3b5-d84f14dfe9b3",
      "name": "Error Logger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -16
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "ac8e9a03-9f85-4807-96fb-8fec62241eb3",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        480,
        -160
      ]
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1600,
        -16
      ],
      "id": "7b8d5995-c74d-4ebf-93e5-3b72946f3498",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "// Filter out noise based on the Exclude Patterns \nconst excludePatterns = [\n  \"example@example.com\",\n  \"test@test.com\",\n  \"admin@localhost\",\n  \"noreply@\",\n  \"donotreply@\",\n  \"@example.com\",\n  \"@example.org\",\n  \"@sentry.io\",\n  \"@w3.org\"\n];\n\nreturn $input.all().filter(item => {\n  const email = item.json.email.toLowerCase();\n  \n  // Check if email matches any excluded string or domain\n  const isExcluded = excludePatterns.some(pattern => \n    email.includes(pattern.toLowerCase())\n  );\n\n  return !isExcluded;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        -384
      ],
      "id": "0a659c62-adfe-4ba1-941d-0ed22b645faf",
      "name": "Filter Noise"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Load Target URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export to CSV": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Target URLs": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Web Page": {
      "main": [
        [
          {
            "node": "Extract Email Addresses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Addresses": {
      "main": [
        [
          {
            "node": "Validate Email Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email Format": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Email Data": {
      "main": [
        [
          {
            "node": "Filter Noise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Enrich Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait / Rate Limit": {
      "main": [
        [
          {
            "node": "Set Headers + Random Proxy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Headers + Random Proxy": {
      "main": [
        [
          {
            "node": "Fetch Web Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Logger": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Wait / Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Noise": {
      "main": [
        [
          {
            "node": "Export to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "946217c9-d223-4973-bc43-71d4518c261a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "420da16e8a4bbbd9d07a488b082e20b52badc29a41dd5a8a3840782b3e7ae978"
  },
  "id": "q73RddKRPbaQBrA-eoFyu",
  "tags": []
}